.Item {
    background-color: hsl(0, 0%, 20%);
    border-radius: 5px;
    box-shadow:
        0 -1px 1px hsla(0, 0%, 100%, 50%),
        0 2px 5px black;
    margin: 4px;

    display: flex;
    justify-content: space-between;
}

.Item .id {
    flex: 0 0 60px;
    border-right: 2px solid hsla(0, 0%, 0%, 50%);
}

.Item .qty {
    flex: 0 0 60px;
    border-left: 2px solid hsla(0, 0%, 0%, 50%);
}